[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyautogui = "*"
requests = "*"
flask = "*"
python-xlib = "*"
auto-py-to-exe = "*"

[requires]
python_version = "3.8"
